body {
  --color1: #2c1e1c;
  --color2: #615654;
  --color3: #672f19;
  --color4: #bab3af;
  --color5: #b16946;

  --header-height: 80px;
  --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
  --gutter: 30px;
  --footer-height: 25px;

  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color2);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--footer-height));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  height: var(--header-height);
  box-shadow: var(--shadow);
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  background-color: var(--color3);
  box-shadow: var(--shadow);
}

section {
  width: 300px;
  color: var(--color4);
  margin: 20px;
}

.intro-image {
  background-image: url("../assets/intro.jpg");
  background-size: cover;
  width: 300px;
  height: 260px;
  border: solid var(--color1) 5px;
  border-radius: 5px;
}
